:root {
    --main-color: #314584;
    --secondary-color: #314584;
    --section-padding: 30px;
}
/*Start global rule*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
* {
    box-sizing: border-box;
}

/*@media (min-width: 576px) {*/
/*     .container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/
@media (min-width: 768px) {
     .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
     .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
     .container {
        max-width: 1320px;
    }
}
/*End global rule*/
/*Start tabs*/
.tabs .tap-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 50px;
}
.tabs .new-question {display: none}
.tabs .new-question form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 50px;
}
@media (min-width: 1200px) {
    .tabs .new-question form  {
        grid-template-columns: auto auto;
    }
}
/*end tabs*/